assemblyai
faiss-cpu
gcloud
google-ai-generativelanguage
gTTS
h11
h2
langchain
langchain-community
langchain-google-genai
matplotlib-inline
numpy
pandas
pillow
plotly
pycountry
pydantic
pydantic-settings
pydantic_core
python-dotenv
requests
requests-oauthlib
requests-toolbelt
SpeechRecognition
streamlit
streamlit-option-menu
youtube-transcript-api
yt-dlp
pinecone-client
langchain-pinecone